.main
  .articles
    .article
      .article__top
        .article__top--image
          = link_to "#", class: "article-link" do
            = image_tag "vgd_today0129_01_9773gc50627.png", class: "image"
        .article__top--title
          = link_to "#", class: "article-link" do
            【VG】1/29 「スチームスイーパー サルゴ」「スチームスイーパー ドードー」
      .article__bottom
        .article__bottom--category
          %ul.category
            カテゴリ：
            %li.category__name
              ヴァンガード
        .article__bottom--daytime
          2020年1月29日 12時02分
    .article
      .article__top
        .article__top--image
          = link_to "#", class: "article-link" do
            = image_tag "vgd_today0128_11265fe75161.png", class: "image"
        .article__top--title
          = link_to "#", class: "article-link" do
            【VG】1/28 「サービス・インプローバー」
      .article__bottom
        .article__bottom--category
          %ul.category
            カテゴリ：
            %li.category__name
              ヴァンガード
        .article__bottom--daytime
          2020年1月28日 12時01分
    .article
      .article__top
        .article__top--image
          = link_to "#", class: "article-link" do
            = image_tag "vgd_today0127_01_608752j84406.png", class: "image"
        .article__top--title
          = link_to "#", class: "article-link" do
            【VG】1/27 「黎明の魔術師 アシュワ」「晩熟の魔術師 パルメット」
      .article__bottom
        .article__bottom--category
          %ul.category
            カテゴリ：
            %li.category__name
              ヴァンガード
        .article__bottom--daytime
          2020年1月27日 12時00分