.wrapper
  .header
    .header__title
      = link_to root_path, class: "title-link" do
        Todays CARD
  .show-main
    .show
      .show__top
        .article
          .article__top
            .article__top--image
              = image_tag @article.images[0].url, class: "image"
            .article__top--title
              = @article.title
          .article__bottom
            .article__bottom--category
              %ul.category
                カテゴリ：
                %li.category__name
                  = @article.category.name
            .article__bottom--daytime
              = time(@article.created_at)
      .show__content
        .article-show
          - @article.images.each do |image|
            .article-show__image
              = image_tag image.url, class: "image"
          .article-show__text
            = @article.text
  = render "footer"
